.main{
padding: 0 250px;
font-weight: 400;

    font-kerning: normal
}

@media only screen and (max-width: 375px) {
  .main {
    display : flex;
    flex-direction: column;
   padding: 20px;
  }
}
.title {
  color: #333;
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
  text-align: center;
}
.image1{
display: flex;
align-self: center;
justify-content: flex-start;

}

@media only screen and (max-width: 375px) {
  .image1 {
 
   
  }
}
.intro{
  display: flex; 
  align-self: center;
  justify-self: center;
  margin-right: calc(100vw/2);
  font-size:50px;
}

.description {
  display: flex;
 gap: 70px;
 flex-wrap: wrap;

}
.heady{
  font-style: italic;
  font-size: 20px;
  color: grey;

}
.images{
  display: flex;
  align-items: center;
  justify-content: center;
}